<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
<!--   <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>User</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <tbody>
    <div class= "row">
    <% @blogs.each do |blog| %>

      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image">
            <%= image_tag blog.image.url %>
            <span class="card-title"><%= blog.name %></span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p><%= blog.description %></p>
          </div>
          <div class="card-action">
          <%= link_to 'Show', blog %>
<!--           <%= link_to 'Edit', edit_blog_path(blog) %>
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %> -->
          </div>
        </div>
      </div>

    <% end %>
  </div>
  </tbody>
</table>

<br>
<!-- 
<%= link_to 'New Blog', new_blog_path %> -->
