<p id="notice"><%= notice %></p>

<h1>Mile Services</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mile_services.each do |mile_service| %>
      <tr>
        <td><%= mile_service.name %></td>
        <td><%= mile_service.image %></td>
        <td><%= mile_service.description %></td>
        <td><%= link_to 'Show', mile_service %></td>
        <td><%= link_to 'Edit', edit_mile_service_path(mile_service) %></td>
        <td><%= link_to 'Destroy', mile_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mile Service', new_mile_service_path %>
