<p id="notice"><%= notice %></p>

<p>
  <strong>Mission:</strong>
  <%= @extra.mission %>
</p>

<p>
  <strong>Vision:</strong>
  <%= @extra.vision %>
</p>

<p>
  <strong>Ourteam:</strong>
  <%= @extra.ourteam %>
</p>

<%= link_to 'Edit', edit_extra_path(@extra) %> |
<%= link_to 'Back', extras_path %>
