<!DOCTYPE html>
<html>
  <head>
    <title>Mileandasmile</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
     <%= render 'layouts/navbar' %> 
    <%= yield %>
    <%= render 'layouts/footer' %>
    <script>
  $(".button-collapse").sideNav();
  $(document).ready(function(){
      $('.carousel').carousel();
    });
   $(document).ready(function(){
    $('.collapsible').collapsible();
  });
   $(document).ready(function(){
      $('.slider').slider();
    });
   $(document).ready(function(){
    $('ul.tabs').tabs();
  });
       
  $('.carousel.carousel-slider').carousel({fullWidth: true});
  Materialize.toast('Welcome to Mileandasmile', 4000)
  // Materialize.toast('E Learning!', 5000)
  // Materialize.toast('Digital publishing!', 6000)
  </script>
  </body>
</html>
